
.typo3-login .panel-login:before {
    content: "\00a0";
    background-image: url("/typo3conf/ext/boto_base/Resources/Public/Images/label-dev.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center center;
    width: 640px;
    height: 100px;
    display: inline-block;
    overflow: visible;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, -85%);
}