/***** end of bugfix *******/
.typo3-login .panel-login {
    position: relative;
}

.t3-grid-container-2spaltencontainer {
   /* background-color:   #DCDEAC; */
}
.t3-grid-container-2spaltencontainer td.t3-page-column {
    background-color:   #DCDED7;
}
.t3-grid-container-2spaltencontainer td.t3-page-column-15 {
    width: 65%;
}
.t3-grid-container-2spaltencontainer td.t3-page-column .t3-page-column-header {
    background-color: #DCDEAC;
    color: #222;
}

.t3-grid-container-2spaltencontainer td.t3-page-column-16 {
    width: 35%;
}
.t3-grid-container-centercontainer td.t3-page-column,
.t3-grid-container-centercontainer td.t3-page-column .t3-page-column-header {
    background-color:   #FFEFBF;
}
.t3-grid-container-centercontainer td.t3-page-column .t3-page-column-header {
    color: #222;
}
.t3-grid-container-centercontainer table.t3-page-columns {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
