
.typo3-login .panel-login:before {
    content: "\00a0";
    background-image: url("/typo3conf/ext/boto_base/Resources/Public/Images/label-prod.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top right;
    width: 100%;
    height: 70px;
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(0, 0);
}